.row
	.large-3.columns
		= cl_image_tag(@user.picture_name, :width => 100, :height => 130, :crop => :fill)
	.large-9.columns
		%h1= @user.name
.row
	.small-9.large-9.columns.centered
		= render "form_user"