.row
	= @user.picture_name
	= cl_image_tag(@user.picture_name, :width => 100, :height => 130, :crop => :fill)
%h1 
	= @user.name
	

/ = render 'image_box',                                            
/   :upload => @uploads[:picture_image],                                   
/   :description => 'Fill 200x150',                                
/   :options => { :width => 200, :height => 150, :crop => "fill" } 