%ul.vcard
  %li.fn= skill.title
  %li.street-address= skill.description
  / %li.locality Caprica City
  / %li
  /   %span.state> Caprica
  /   ,
  /   %span.zip 12345
  / %li.email
  /   %a{href: "#"} g.baltar@cmail.com