.off-canvas-wrap
  .inner-wrap
    %nav.tab-bar
      %section.left.large-5.columns
        %h3 La Fabriq
        %h4 fabriquons du tissus économique local
      %section.middle.large-6.columns
        .row.collapse
          .large-9.small-10.columns
            %input{placeholder: "Find Stuff", type: "text"}/
          .large-3.small-2.columns
            %a.alert.button.postfix{href: "#"} Search
      %section.right.large-1.columns
        %a.right-off-canvas-toggle.menu-icon
          %span
    
    %aside.right-off-canvas-menu
      %ul.off-canvas-list
        %li
          %label Users
        %li
          %a{href: "#"} Hari Seldon
        \...
    %section.main-section
      / content goes here
    %a.exit-off-canvas





