#map{ height: 180px;
		border: 2px solid #000;
	}

div.prez{
	text-align: center;
	margin:2%;
	padding : 2px;
	background-color: #917869 ;
	border: 2px solid #000;
	h3{
		color: #917869;
	}

}
.sidemenu{
	margin-top: 50px;
}
li.iconmenu{
	list-style-type: none;
	margin-top: 35px;
	margin-bottom: 35px;
}

.check{
	border: 5px solid black;
	background-color: #e9ffad;
}


.check2{
	border: 5px solid black;
	background-color: #ff4d4d;
}

